<ion-navbar *navbar>
  <ion-buttons end *ngIf="showSkip">
    <button (click)="startApp()" primary>Skip</button>
  </ion-buttons>
</ion-navbar>
<ion-content>
  <ion-slides pager (slideChangeStart)="onSlideChangeStart($event)">
    <ion-slide *ngFor="#slide of slides">
      <ion-item>
        <ion-label floating [innerHTML]="slide.input"></ion-label>
        <ion-input type="text" [(ngmodel)]="username" (input)="updateInput($event, slide)" ></ion-input> 
      </ion-item>
      <!-- <button outline (click)="motion($event)">Motion</button> -->
      <img [src]="slide.image" class="slide-image" style="margin-left: {{style.left}}vw; margin-top: {{style.top}}vh;" />
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <img src="img/ica-slidebox-img-4.png" class="slide-image" style="margin-left: {{style.left}}vw; margin-top: {{style.top}}vh;"/>
      <h2 class="slide-title">Ready to Play?</h2>
      <button large clear (click)="startApp()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
